<!DOCTYPE html>
<html ng-app="sportsStore">
<head>
  <title>SportsStore</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="sportsStoreCtrl">
  <div class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">SPORTS STORE</a>
    <cart-summary />
  </div>
  <div class="alert alert-danger" ng-show="data.error">
    Error ({{data.error.status}}). The product data was not loaded.
    <a href="<%= root_path %>" class="alert-link">Click here to try again</a>
  </div>
  <ng-view />
  <%= yield %>

</body>
</html>
