<!DOCTYPE html>
<html ng-app="sportsStore">
<head>
  <title>SportsStore</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="sportsStoreCtrl">

<%= yield %>

</body>
</html>
